body{
    background: #edf2ff;
}

#title_bar{
    font-family: "Noto Sans JP", sans-serif;
    color: white;
    text-align: left;
    background: #495d87;
    padding: 5px;
    padding-left: 15px;
    width: 100%;
}

#control_bar{
}

#control_panel{
    display: inline-block;
    margin-left: 1%;
    width: 49%;
}
#status_bar{
    display: inline-block;
    width: 49%;
}

#control_panel button h1{
    color: white;
}

#control_panel button{
    padding: 3%;
    margin-right: 5%;
}

