attrs==19.3.0
autobahn==19.11.2
Automat==20.2.0
cffi==1.14.0
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
enum34==1.1.10
Flask==1.1.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser==2.20
PyHamcrest==1.10.1
roslibpy==1.1.0
six==1.15.0
Twisted==22.1.0
txaio==18.8.1
Werkzeug==1.0.1
zope.interface==5.1.0
